body {
  font-family: sans-serif;
  font-size: 16px;
  /* width: 960px; */
  margin: 1em auto;
  position: relative;
}
h1, h2, .dimension text {
  text-align: center;
  font-family: "PT Sans", Helvetica;
  font-weight: 300;
}
h1 {
  font-size: 4em;
  margin: .5em 0 0 0;
}
h2 {
  font-size: 2em;
  margin: 1em 0 0.5em;
  border-bottom: solid #ccc 1px;
}
p.meta, p.footer {
  font-size: 13px;
  color: #333;
}
p.meta {
  text-align: center;
}

text.icicle { pointer-events: none; }

.options { font-size: 12px; text-align: center; padding: 5px 0; }
.curves { float: left; }
.source { float: right; }
pre, code { font-family: "Menlo", monospace; }

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}



.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #EAE7DC;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

svg{
  background-size: 1000px;
  position: relative;
  /* left:400px; */
  /* top:50px; */
}

.wrapper{
  left : 20%;
  /* width: auto;
  height: auto; */
  margin-right: auto;
  /* top : -20%; */
  position : relative;
  /* transform: rotate(90); */
}

toolBar{
  overflow: visible;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  top: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
  left: 0;
  right: 0;


}
.left-tools{
  float: left;
}
li{
  overflow: visible;
  text-align: left;
  visibility: visible;
  cursor: pointer;
  /* padding: px; */
}
a {
  color: #1abc9c;
  text-decoration: none;
}


.resultsTable{
  position: relative;
  padding: 2vh;
  left:15%;
  height: 20%;
  width: 1662px;
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: 'Montserrat',sans-serif;
  color: #232b2d;
  font-size: 10pt;
  align-self: auto;

}

.collapsible {
  position: absolute;
  left:0px;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  position: absolute;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
