h1{
  position: relative;
  text-align: center;
}

body {
  background-color: #e7e7e7;
}

h2{
  position: relative;
}

.screenshot {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#table, #scroll_up{
  width: 20%;
}

#scroll_down {
  width: 15%;
}

.click_interact, #click_color:hover {
  width: 30%;
}

.click_interact:hover {
  width: 50%;
}

.displace, #Parcourir, #Submit, #CoPHI, #select {
  width: 10%;
}

#directory {
  width: 25%;
}

#table:hover, #directory:hover {
  width: 50%
}

#scroll_up:hover, #scroll_down:hover{
  width: 35%;
}

#Submit:hover, #Parcourir:hover, .displace:hover, #select:hover, .color_Scheme:hover{
  width: 20%;
}

.example_div {
  text-align: center;
}

.scroll, .displace, .color_Scheme {
  display: inline-block;
  margin: 0%;

}

#scroll_up {
  padding-right: 60px;
}

#scroll_down {
  padding-left: 60px;
}

#displace_1, #colorGB {
  padding-right: 60px;
}

#displace_2, #colorGRN {
  padding-left: 60px;
}

#click_color {
  width: 15%;
}

.color_Scheme {
  height: 13%;
}
